 <table width="100%"class="tabelas">
    <tr>
    <th colspan="2" align="left"><font  size=4 color="black"> <b>Inscrição de Professores Enventuais</b></font> - <font  size=3 color="black"> <b>Secretaria da Educação</b></font></th>
    <th>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></th>
  </tr>
  </table >
<table class="tabelas">
    <% form_for @search do |f| %>
    <tr>
      <td align="right">
        <%= f.label :nome_like, "Nome:" %>
        <%= f.text_field :nome_like, :size => 20 %>

        <%= f.submit "Buscar" %>
    </td>
    </tr>
  <% end %>
</table>
  <table class="tabelas" border="1">
    <td colspan="9"><%= "Existe(m) #{@search.count} inscrição(ões)" %></td></tr>
    <tr>
      <th width="10%"><center>Inscrição</center></th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Status</th>
      <th>Documentos</th>
      <th width="5%" colspan="2">Administrar</th>
    </tr>
    <% for formulario in @formularios %>
      <tr>
        <td><center><%=h formulario.id %></center></td>
        <td><%=h formulario.nome %></td>
        <td><%=h formulario.cpf %></td>
         <td><%if formulario.status == 'Cancelado' %>
                 <font color="Red"><b>CANCELADA</b></font>
               <%else%>
                 <b>VÁLIDA</b>
               <%end%>
        </td>
        <td><%if formulario.documentacao_entregue == false %>
                 <center><font color="Red"><b>NÃO</b></font></center>
               <%else%>
                 <center><b>OK</b></center>
               <%end%>
        </td>
        <td><center><%= link_to image_tag("/images/exibir.gif", :size => "15x15"),{:action => "completa", :id =>formulario}, :method => "get", :title => "Visualizar inscrição" %></center></td>
        <td><center><%= link_to image_tag("/images/editar.png", :size => "15x15"), edit_formulario_path(formulario), :title => "Editar" %></center></td>
        
      </tr>
    <% end %>
</table>

