 <table width="100%"class="tabelas">
   <tr>
    <th colspan="2" align="left"><font  size=4 color="black"> <b>Classificação dos Professores Eventuais</b></font> - <font  size=3 color="black"> <b>Secretaria da Educação</b></font></th>
    <th>    <%= link_to image_tag("/images/excluir.png", :size => "20x20"),  root_path, {:method => "get"}, :title => "Fechar"%></th>
   </tr>
 </table>
<table class="tabelas">
    <% form_for @search do |f| %>
    <tr>
      <td align="right">
        <b>Disciplina:</b>
        <%= f.collection_select :disciplina_id,@disciplinas, :id, :disciplina, :include_blank => "Todas" %>
        <%= f.submit "Buscar" %>
      </td>
    </tr>
  <% end %>
</table>
<table class="tabelas" border="1">
   <tr>
      <th width="10%"><center>Inscrição</center></th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Opção</th>
      <th>Disciplina</th>
      <th>Prova</th>
      <th>Títulos</th>
      <th>Total</th>
    </tr>
    <% for formulario in @formularios %>
    <tr>
        <td><center><%=h formulario.id %></center></td>
        <td><%=h formulario.nome %></td>
        <td><%=h formulario.cpf %></td>
        <td><%=h formulario.opcao %></td>
        <td><%=h formulario.disciplina.disciplina%></td>
        <td><center><%=h formulario.nota_prova%></td></center>
        <td><center><%=h formulario.n_pontos %></td></center>
        <td><center><b><%=h formulario.total %></b></center></td>
    </tr>
    <% end %>
  </table>
